# Amazon Vine Analysis

In [19]:
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
vine_reviews_df = pd.read_csv("vine_table.csv")
vine_reviews_df.head()

C:\Users\jilly\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3I2DHQBR577SS,5.0,0.0,0.0,N,Y
1,R1QNE9NQFJC2Y4,5.0,0.0,0.0,N,Y
2,R3LIDG2Q4LJBAO,5.0,0.0,0.0,N,Y
3,R3KSZHPAEVPEAL,5.0,0.0,0.0,N,Y
4,RAI2OIG50KZ43,5.0,0.0,0.0,N,Y

## Filter Data where votes are equal to or greater than 20

In [21]:
votes_20_df = vine_reviews_df[vine_reviews_df['total_votes'] >= 20]
votes_20_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
31,R2QRUE9REK8OUC,5.0,18.0,23.0,N,Y
102,R2POXRW6PXHXZG,5.0,25.0,30.0,N,Y
212,RZN43XRZ89IIJ,3.0,10.0,27.0,N,N
337,R29Q748WSHZ3SN,5.0,23.0,24.0,N,Y
357,R46UL5G5HEPRZ,5.0,18.0,20.0,N,N

In [22]:
votes_20_df.tail()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
5115658,R3SHWVR8GO9WK4,5,26.0,26.0,N,N
5115659,R2KNC11QJB7V5U,5,30.0,34.0,N,N
5115662,R2IRC0IZ8YCE5T,3,23.0,23.0,N,N
5115663,R1U4ZSXOD228CZ,5,89.0,97.0,N,N
5115665,R1MEWK4I7YS5XK,5,23.0,23.0,N,N

## Filter the new DataFrame to retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%

In [23]:
votes_50_df = votes_20_df.loc[votes_20_df.helpful_votes / votes_20_df.total_votes >= 0.5]
votes_50_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
31,R2QRUE9REK8OUC,5.0,18.0,23.0,N,Y
102,R2POXRW6PXHXZG,5.0,25.0,30.0,N,Y
337,R29Q748WSHZ3SN,5.0,23.0,24.0,N,Y
357,R46UL5G5HEPRZ,5.0,18.0,20.0,N,N
386,R2UQHSNWU6WTZX,5.0,74.0,76.0,N,N

## Filter the DataFrame and create a new DataFrame that retrieves all the rows where a review was written as part of the Vine program (paid)

In [24]:
paid_reviews = votes_50_df[votes_50_df['vine'] == 'Y']
paid_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
33773,R106V6GUNWRSSS,5.0,857.0,889.0,Y,N
38256,R37N8KZS48W36A,5.0,36.0,37.0,Y,N
58582,R1LNEQ2MQE03PD,5.0,49.0,66.0,Y,N
61695,R1ECPWPUNK36ES,5.0,29.0,31.0,Y,N
95790,R16BUM7UQZLOM6,3.0,107.0,112.0,Y,N

## Retrieve all the rows where the review was not part of the Vine program (unpaid)

In [25]:
unpaid_reviews = votes_50_df[votes_50_df['vine'] == 'N']
unpaid_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
31,R2QRUE9REK8OUC,5.0,18.0,23.0,N,Y
102,R2POXRW6PXHXZG,5.0,25.0,30.0,N,Y
337,R29Q748WSHZ3SN,5.0,23.0,24.0,N,Y
357,R46UL5G5HEPRZ,5.0,18.0,20.0,N,N
386,R2UQHSNWU6WTZX,5.0,74.0,76.0,N,N

## Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types of reviews (paid vs unpaid)

In [26]:
#Total Number of paid reviews
paid_count = len(paid_reviews)
paid_count

647

In [27]:
#Total number of unpaid reviews
unpaid_count = len(unpaid_reviews)
unpaid_count

74113

In [30]:
#Total Five star paid reviews
five_star_paid_reviews = len(paid_reviews[paid_reviews['star_rating']==5])
five_star_paid_reviews

228

In [31]:
#Total of unpaid five star reviews
five_star_unpaid_reviews = len(unpaid_reviews[unpaid_reviews['star_rating']==5])
five_star_unpaid_reviews

42612

In [32]:
#Five Star Percentage of paid reviews
five_star_paid_reviews/paid_count

0.35239567233384855

In [33]:
#Five star percentage of unpaid reviews
five_star_unpaid_reviews/unpaid_count

0.5749598585943086